ul{
background-color: #0C356A;
list-style-type: none;
border-radius: 20px;
padding: 15;
margin: 0;
overflow: hidden;
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: #FFC436;
    text-align: center;
    padding: 35px 24px; 
    text-decoration: none;
}
li a:hover{
    color: #0174BE;
    background-color: #FFF0CE;
    border-radius: 15px;
}
.nav-end{
    float: right;
}
.active-link{
    color: #0174BE;
    background-color: #FFF0CE;
    border-radius: 15px;
}